@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .delay-150 {
    animation-delay: 150ms;
  }
  
  .delay-300 {
    animation-delay: 300ms;
  }
  
  .delay-450 {
    animation-delay: 450ms;
  }
  
  .delay-600 {
    animation-delay: 600ms;
  }
  